<div class='main'>
 <div class='title-contents'>
    <h2 class='service-title'>
      毎日の楽しみが増える貯金おみくじアプリ
    </h2>
    <p class='service-explain'>
      貯金おみくじは１日1回引くことができる
    </p>
    <p class='service-explain'>
      貯まったお金で旅行しよう！
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
      <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
    </div>
 </div>

 <div class='second-contents'>
      <%= image_tag "buta_san.png", class:"list-pict" %>
 </div>
 <div class='omikuji-btn'>
    <a class="post" href="#">おみくじを引く</a>  
 </div>   
</div>